node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
mocks/

# macOS
.DS_Store

# ignores all .env files
.env
.env*

# package managers
.yarn
yarn.lock
.yarnrc
yarn-debug.log*
yarn-error.log*